[submodule "CS496-Week1Wls"]
	path = CS496-Week1Wls
	url = https://github.com/Sunwoo0110/CS496-Week1Wls
[submodule "Madcamp-week2"]
	path = Madcamp-week2
	url = https://github.com/Sunwoo0110/Madcamp-week2.git
[submodule "madcamp-pj3"]
	path = madcamp-pj3
	url = https://github.com/Sunwoo0110/madcamp-pj3.git
[submodule "madcamp_week4"]
	path = madcamp_week4
	url = https://github.com/Sunwoo0110/madcamp_week4.git
